body { 
    margin: 0; 
    height: 100%;
}
  
canvas { 
    display: block;
}

h1 {
    position: absolute;
    top: 2em;
    left: 2em;
    font-family: 'Montserrat';
    font-size: 7em;
    text-transform: uppercase;
    width: auto;
    line-height: .8em;
    border: 5px solid black;
    padding: .2em;
  }

  #controls{
    position: absolute;
    color: white;
    top: 8%;
    width: 100%;
    text-align: left;
    left: 1%;
    z-index: 100;
    display: block;
  }

  #toggles{
    position: absolute;
    color: white;
    top: 6%;
    width: 100%;
    text-align: left;
    left: 10px;
    z-index: 101;
    display: block;
  }

  
  #credit{
    position: absolute;
    color: white;
    bottom: 5%;
    left: 2%;
    width: 30%;
    text-align: left;
    z-index: 100;
    display: block;
  }

  #describe{
    position: absolute;
    color: white;
    top: 2.5%;
    width: 20%;
    text-align: left;
    right: 1%;
    z-index: 100;
    display: block;
  }

  #cell-title{
    position: absolute;
    color: white;
    top: 2.5%;
    font-size: 25px;
    width: 100%;
    text-align: center;
    
    z-index: 100;
    display: block;
  }

  #file_load{
    position: absolute;
    color: white;
    bottom: 1.5%;
    font-size: 20px;
    
    right: 2%;
    z-index: 100;
  }

  #legend{
    position: absolute;
    color: white;
    top: 10%;
    font-size: 25px;
    width: 100%;
    text-align: left;
    left: 85%;
    z-index: 100;
    display: block;
  }

  #example-buttons{
    position: absolute;
    color: white;
    left: 1%;
    bottom: 1%;
    width: 100%;
    
    text-align: left;
    z-index: 100;
    display: block;
  }
  #drop-area {
    
    position:absolute;
    width: 99.5%;
    height: 99.5%;
    z-index: 100;
 
  }
  #drop-area.highlight {
    border-color: purple;
  }
  p {
    margin-top: 10px;
    margin-left: 10px;
  }
  .my-form {
    margin-bottom: 10px;
  }
  
  .button:hover {
    background: #ddd;
  }
  #fileElem {
    display: none;
  }
  